$font: 'Inconsolata', monospace;
$backgroundColor: rgb(255, 254, 250);

.loop-title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    > div {
        display: flex;
        justify-content: space-between;
        width: 120px;
    }
    i {
        margin: 0 3px;
        color: rgb(225, 225, 225);
        transition: .1s;
        &:hover {
            cursor: pointer;
        }
        &:nth-of-type(1):hover {
            color: rgb(45, 255, 181);
        }
        &:nth-of-type(2):hover {
            color: rgb(255, 210, 100);
        }
        &:nth-of-type(3):hover {
            color: rgb(44, 255, 241);
        }
        &:active {
            color: rgb(225, 255, 44);
        }
    }
    > input {
        background: none;
        border: none;
        border-bottom: 3px solid rgb(204, 204, 204);
        font-family: 'Inconsolata', monospace;
        font-size: 2em;
        color: rgb(204, 204, 204);
        transition: .2s;
        padding: 0 5px;
        &:focus {
            outline: none;
            color: rgb(225, 255, 44);
            border-bottom: 3px solid rgb(225, 255, 44);
            background-color: #cccccc;
        }
        &:hover {
            color: rgb(225, 255, 44);
            border-bottom: 3px solid rgb(225, 255, 44);
            background-color: rgba(0, 0, 0, 0.2)
        }
    }
}

.loop-settings-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.tempo-info > span, .volume-info > span {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: space-between;
}

.swal-custom {
    background: $backgroundColor;
    color: black;
    border-radius: 0;
    border: 2px solid black;
    font-family: $font;
}

.swal2-confirm, .swal2-cancel {
    background: none !important;
    outline: none !important;
    border: 2px solid black !important;
    color: #333 !important;
    border-radius: 0 !important;
}
.swal2-confirm {
    &:hover {
        border-color: rgb(44, 255, 96) !important;
        color: rgb(16, 141, 47) !important;
    }
    &:focus {
        outline: none !important;
    }
    &:active {
        border-color: #999 !important;
    }
}
.swal2-cancel:hover {
    border-color: rgb(255, 44, 44) !important;
    color: rgb(185, 15, 15) !important;
}

.swal2-success-circular-line-left, .swal2-success-fix, .swal2-success-circular-line-right {
    background-color: $backgroundColor !important;
}

.swal2-title {
    font-family: 'Didact Gothic', sans-serif;
}