.loop-title-bar {
    margin-bottom: 15px;

}
.loop-title-bar > i {
    margin: 0 3px;
}
.loop-title-bar > input {
    background: none;
    border: none;
    border-bottom: 3px solid rgba(204, 204, 204);
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    color: rgba(204, 204, 204);
    transition: .2s;
    padding: 0 5px;
}

.loop-title-bar > input:focus {
    outline: none;
    color: rgba(225, 255, 44);
    border-bottom: 3px solid rgba(225, 255, 44);
    background-color: #cccccc;
}

.loop-title-bar > input:hover {
    color: rgba(225, 255, 44);
    border-bottom: 3px solid rgba(225, 255, 44);
    background-color: rgba(0, 0, 0, 0.2)
}
.loop-title-bar > i {
    color: rgba(225, 225, 225);
    transition: .1s;
}
.loop-title-bar > i:nth-of-type(1):hover {
    color: rgba(45, 255, 181);
}
.loop-title-bar > i:nth-of-type(2):hover {
    color: rgb(255, 210, 100);
}
.loop-title-bar > i:active {
    color: rgba(225, 255, 44);
}

.loop-settings-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.tempo-info > span, .volume-info > span {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: space-between;
}