@import '../sassVars.scss';

.constant-background {
    background-color: rgba(255, 254, 250, 0.8);
    padding: 30px;
}

.loop-title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    > div {
        display: flex;
        justify-content: space-between;
        width: 163px;
        .fa-arrow-left {
            margin-right: 10px;
        }
        .fa-save {
            margin-left: 10px;
        }
    }
    i {
        margin: 0 5px;
        color: rgb(225, 225, 225);
        transition: .1s;
        &:hover {
            cursor: pointer;
        }
        &:nth-of-type(1):hover {
            color: rgb(45, 255, 181);
        }
        &:nth-of-type(2):hover {
            color: rgb(255, 136, 100);
        }
        &:nth-of-type(3):hover {
            color: rgb(44, 255, 241);
        }
        &:nth-of-type(4):hover {
            color: rgb(255, 210, 100);
        }
        &:active {
            color: rgb(225, 255, 44);
        }
    }
    input {
        background: none;
        border: none;
        border-bottom: 3px solid rgb(204, 204, 204);
        font-family: $primaryFont;
        font-size: 2em;
        color: rgb(204, 204, 204);
        transition: .2s;
        padding: 0 5px;
        &:focus {
            outline: none;
            color: rgb(225, 255, 44);
            border-bottom: 3px solid rgb(225, 255, 44);
            background-color: #cccccc;
        }
        &:hover {
            color: rgb(225, 255, 44);
            border-bottom: 3px solid rgb(225, 255, 44);
            background-color: rgba(0, 0, 0, 0.2)
        }
    }
}

.loop-settings-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.tempo-info > span, .volume-info > span {
    font-family: $primaryFont;
    display: flex;
    justify-content: space-between;
}

.swal-custom {
    background: $backgroundWhite;
    color: black;
    border-radius: 0;
    border: 2px solid black;
    font-family: $primaryFont;
}

.swal2-input {
    border: 2px solid !important;
    border-radius: 0 !important;
    height: 25px;
    background: transparent;
    transform: skew(-20deg);
    margin-bottom: 15px;
    outline: none;
    &:hover, &:focus {
        border: $blueHighlight solid 2px !important;
    }
}

.swal2-confirm, .swal2-cancel {
    background: none !important;
    outline: none !important;
    border: 2px solid black !important;
    color: #333 !important;
    border-radius: 0 !important;
}
.swal2-confirm {
    &:hover {
        border-color: rgb(44, 255, 96) !important;
        color: rgb(16, 141, 47) !important;
    }
    &:focus {
        outline: none !important;
    }
    &:active {
        border-color: #999 !important;
    }
}
.swal2-cancel:hover {
    border-color: rgb(255, 44, 44) !important;
    color: rgb(185, 15, 15) !important;
}

.swal2-success-circular-line-left, .swal2-success-fix, .swal2-success-circular-line-right {
    background-color: $backgroundWhite !important;
}

.swal2-title {
    font-family: $secondaryFont;
}
// DISPLAY FOR PHONE
.resize-instruction {
    display: none;
}

@media (max-width: 850px) {
    .changing-background {
        display: none;
    }
    .constant-background {
        padding: 0px;
        text-align: center;
    }
    .loop-title-bar {
        position: relative;
        right: 20px;
        justify-content: space-around;
        input {
            font-size: 16px;
            font-family: $primaryFont;
        }
        .fa-2x {
            font-size: 1em;
        }
    }
}

@media (max-width: 420px) {
    .changing-background, .loop-title-bar, .sequencer, .loop-settings-bar {
        display: none;
    }
    .resize-instruction {
        display: block;
        font-family: $secondaryFont;
        align-self: center;
        justify-self: center;
    }
}