@import '../sassVars.scss';

.account-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-family: $primaryFont;
        margin: 10px;
        width: 200px;
        display: inline-block;
        span {
            color: red;
        }
    }
    input {
        border: 2px solid;
        height: 25px;
        background: transparent;
        transform: skew(-20deg);
        margin-bottom: 15px;
        outline: none;
        transition: .2s;
        &:hover {
            border: $blueHighlight solid 2px;
        }
        &:focus {
            @extend input:hover;
            box-shadow: 1px 1px 10px lightgray;
        }
    }
    .profile-pic {
        width: 300px;
        height: 300px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-size: cover;
    }
    .button {
        background: transparent;
        font-family: $primaryFont;
        border: 2px solid;
        padding: 2px 20px;
        font-size: 1rem;
        margin-top: 20px;
        transition: .2s;
        cursor: pointer;
        &:hover {
            color: $blueHighlight;
            border-color: $blueHighlight;
        }
    }
}

#profile-pic-uploader {
    border: none;
    margin-left: -58px;
    // display: none;
    button {
        display: none;
    }
}