input[type=range] {
  -webkit-appearance: none;
  width: 250px;
  margin: 6.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ebebeb;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
  border: 0px solid #ebebeb;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ebebeb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d2d2d2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ebebeb;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
  border: 0px solid #ebebeb;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ebebeb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #ebebeb;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
  border: 0px solid #ebebeb;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ebebeb;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ebebeb;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d2d2d2;
}

@media (max-width: 570px) {
  input[type=range] {
    width: 200px;
  }
}