/* input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 10px;
    width: 200px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(235, 235, 235);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgba(171, 255, 44);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(171, 255, 44);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(235, 235, 235);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(235, 235, 235);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgba(171, 255, 44);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(171, 255, 44);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(235, 235, 235);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(235, 235, 235);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgba(171, 255, 44);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(171, 255, 44);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(235, 235, 235);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(235, 235, 235);
  } */

  input[type=range] {
    -webkit-appearance: none;
    width: 250px;
    margin: 6.5px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #ebebeb;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
    border: 0px solid #ebebeb;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ebebeb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d2d2d2;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #ebebeb;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
    border: 0px solid #ebebeb;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ebebeb;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: #ebebeb;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #969696, 0px 0px 0px #a3a3a3;
    border: 0px solid #ebebeb;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ebebeb;
    cursor: pointer;
    height: 2px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ebebeb;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #d2d2d2;
  }
  