@import '../../sassVars.scss';

.add-container {
    height: $iconSquare;
    width: $iconSquare;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
    i:hover {
        cursor: pointer;
        color: #ADACA9;
        background-color: $iconHover;
        border: 2px solid $iconHover;
        border-radius: 100px;
        transition: .3s;
    }
}