$square: 120px;

.add-container {
    height: $square;
    width: $square;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
    i:hover {
        cursor: pointer;
        color: #ADACA9;
        background-color: rgb(225, 255, 44);
        border: 2px solid rgb(225, 255, 44);
        border-radius: 100px;
        transition: .3s;
    }
}