$font: 'Inconsolata', monospace;

.header {
    top: 0;
    width: 100vw;
    background: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
}
.logo {
    font-family: $font;
    font-size: 2rem;
    display: inline-block;
    padding: 1px 30px;
    transition: .5s;
    position: relative;
    bottom: 2px;
    background: white;
    opacity: .85;
    z-index: 2;
    &:hover {
        opacity: 1;
    }
    h1 {
        color: black;
    }
}
.nav {
    position: absolute;
    right: 10px;
    display: flex;
    z-index: 2;
}
.header-button {
    color: white;
    font-family: $font;
    padding: 3px 15px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    transition: .2s;
    z-index: 2;
    &:hover {
        color: rgb(171, 255, 44);
        cursor: pointer;
        border-color: rgb(171, 255, 44);
    }
    h3 {
        font-weight: 700;
    }
}