$primaryFont: 'Inconsolata', monospace;
$headerButtonHover: rgb(171, 255, 44);

.header {
    top: 0;
    width: 100vw;
    background: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.logo {
    font-family: $primaryFont;
    font-size: 2rem;
    display: inline-block;
    padding: 1px 30px;
    transition: .5s;
    position: relative;
    background: white;
    opacity: .85;
    z-index: 1;
    img {
        position: relative;
        width: 180px;
        top: 4px;
    }
    &:hover {
        opacity: 1;
    }
    h1 {
        color: black;
    }
}
.nav {
    position: absolute;
    right: 10px;
    display: flex;
    z-index: 2;
}
.header-button {
    color: white;
    font-family: $primaryFont;
    padding: 3px 15px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    transition: .2s;
    z-index: 1;
    &:hover {
        color: $headerButtonHover;
        border-color: $headerButtonHover;
        cursor: pointer;
    }
    h3 {
        font-weight: 700;
    }
}
#hide-logo {
    display: none;
}