$font: 'Inconsolata', monospace;

.modal-background {
    background-image: linear-gradient(200deg, rgb(44, 255, 241), rgb(225, 255, 45));
    position: absolute;
    left: 0;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: .9;
    transition: .5s;
}

.login-modal {
    background: rgb(255, 254, 250);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 2px solid;
    width: 300px;
    height: 360px;
    font-family: $font;
    position: relative;
    span {
        position: absolute;
        top: 30px;
        text-decoration: underline;
    }
    input {
        border: 2px solid;
        height: 25px;
        background: transparent;
        transform: skew(-20deg);
        margin-bottom: 15px;
        outline: none;
        &:hover, &:focus {
            border: white solid 2px;
        }
    }
    p {
        margin: 5px 0;
    }

    .button {
        background: transparent;
        border: 2px solid;
        padding: 2px 20px;
        font-size: 1rem;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            color: white;
            border-color: white;
        }
    }
    > p:nth-of-type(2) {
        cursor: pointer;
        text-decoration: underline;
    }
    > p:nth-of-type(2):hover {
        color: white;
    }
}

.login-modal > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    div {
        position: absolute;
        right: 0;
        top: 10px;
    }
    div:nth-of-type(1) {
        width: 20px;
        height: 2px;
        background: black;
        transform: rotate(45deg);
    }
    div:nth-of-type(2) {
        @extend div:nth-of-type(1);
        transform: rotate(-45deg);
    }
}

.register-modal {
    @extend .login-modal;
    height: auto;
}

.display {
    display: flex;
    top: 0;
}