@import '../sassVars.scss';

.modal-background {
    background-image: linear-gradient(200deg, rgba(44, 255, 241, .5), rgba(223, 255, 45, .5));
    position: absolute;
    right: 0;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: .5s;
    z-index: 2;
}

.login-modal {
    background: $backgroundWhite;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 2px solid;
    width: 300px;
    height: 360px;
    font-family: $primaryFont;
    position: relative;
    span {
        position: absolute;
        top: 30px;
        text-decoration: underline;
    }
    input {
        border: 2px solid;
        font-size: 16px;
        height: 25px;
        background: transparent;
        transform: skew(-20deg);
        margin-bottom: 15px;
        outline: none;
        transition: .2s;
        &:hover {
            border: $blueHighlight solid 2px;
        }
        &:focus {
            @extend input:hover;
            box-shadow: 1px 1px 10px lightgray;
        }
    }
    p {
        margin: 5px 0;
    }

    .button {
        background: transparent;
        border: 2px solid;
        padding: 2px 20px;
        font-size: 1rem;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            color: $blueHighlight;
            border-color: $blueHighlight;
        }
    }
    > p:nth-of-type(2) {
        cursor: pointer;
        text-decoration: underline;
    }
    > p:nth-of-type(2):hover {
        color: $blueHighlight;
    }
    > .close {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 20px;
        width: 20px;
        cursor: pointer;
        div {
            position: absolute;
            right: 0;
            top: 10px;
        }
        div:nth-of-type(1) {
            width: 20px;
            height: 2px;
            background: black;
            transform: rotate(45deg);
        }
        div:nth-of-type(2) {
            @extend div:nth-of-type(1);
            transform: rotate(-45deg);
        }
        &:active {
            background: $blueHighlight;
        };
    }
}

.register-modal {
    @extend .login-modal;
    height: auto;
}

.display {
    display: flex;
    top: 0;
}

@media (max-height: 527px) {
    .modal-background {
        right: -100vw;
        top: 0;
        display: none;
        text-align: center;
    }
    .display {
        right: 0;
        display: block;
        text-align: center;
    }
}