@import '../sassVars.scss';

.side-menu {
    background-color: black;
    color: white;
    height: 100vh;
    width: 20vw;
    max-width: 220px;
    min-width: 130px;
    position: absolute;
    top: -0vh;
    right: -220px;
    display: none;
    // display: flex;
    // animation: slide-out .1s;
    // animation-fill-mode: forwards;
    // @keyframes slide-out {
    //     0% {
    //         right: 0;
    //     }
    //     100% {
    //         right: -220px;
    //     }
    // }
    padding: 50px 10px;
    flex-direction: column;
    transition: .3s;
    a {
        font-family: $primaryFont;
        font-size: 1.5em;
        padding: 20px 0;
        transition: .2s;
        text-decoration: none;
        color: white;
        &:hover {
            @for $i from 1 through 5 {
                &:nth-of-type(5n+#{$i}) {
                  color: nth($colorList, $i);
                }
              };
            cursor: pointer;
        }
    }
    .profile-pic {
        height: 90px;
        width: 90px;
        background: white;
        align-self: flex-end;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    span {
        font-family: $primaryFont;
        font-size: 1.2em;
        align-self: flex-end;
    }
}
.slide-in {
    // right: 0;
    display: flex;
    animation: slide-in 1s;
    animation-fill-mode: forwards;
        @keyframes slide-in {
            0% {
                right: -220px;
            }
            100% {
                right: 0;
            }
        }
}

@media (max-width: 375px) {
    .side-menu {
        display: none;
    }
    .slide-in {
        display: flex;
    }
    a {
        transition: 0;
    }
}

@media (max-height: 420px) {
    .side-menu {
        height: auto;
    }
}