$primaryFont: 'Inconsolata', monospace;
// $inputHoverOutline: rgb(44, 255, 241);
$secondaryFont: 'Didact Gothic', sans-serif;
$backgroundWhite: rgb(255, 254, 250);
$gradientGreen: rgba(226, 255, 51, .5);
$gradientBlue: rgba(45, 255, 241, .5);
$iconSquare: 130px;
$iconHover: rgb(225, 255, 44);
$headerButtonHover: rgb(171, 255, 44);
$colorList: rgb(45, 255, 241), rgb(45, 255, 181), rgb(44, 255, 125), rgb(121, 255, 44), rgb(225, 255, 45), rgb(241, 255, 45), rgb(255, 234, 45), rgb(255, 223, 45);
$lightGray: rgb(235, 235, 235);
$blueHighlight: rgb(44, 255, 241);