@import '../sassVars.scss';

.dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    max-width: 874px;
    justify-content: flex-start;
    border: 2px solid;
    padding: 0 15px;
    margin: 10px 0 30px 0;
    h3 {
        font-family: 'Didact Gothic', sans-serif;
        margin: 10px 0;
    }
}

div > h2 {
    font-family: $primaryFont;
    font-size: 2em;
}