@import '../../sassVars.scss';

.icon-container {
    display: inline-block;
}

.loop-icon {
    font-family: $primaryFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $iconSquare;
    height: $iconSquare;
    border: 2px solid;
    margin: 20px 5px;
    border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
    overflow: hidden;
    transition: .2s;
    h4{
        padding: 2px 5px 0 5px;
        height: 50px;
        text-align: center;
    }
    h4:nth-of-type(1) {
        background: black;
        color: white;
    }
}

.loop-icon:hover {
    cursor: pointer;
    color: $iconHover;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: initial;
    border-image: none;
    h4 {
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        }
}